head
  title= title
<body>
  <form action="/user/signup/" method="POST">
    <p>
      label(for="firstname") FirstName:
      input(type = "text", name = "firstname", required)
      label(for="lastname") Lastname:
      input(type = "text", name = "lastname", required)
    </p>
    label(for="email") Email:
    input(type = "email", name = "email", required)
    br
    label(for="password") Password:
    input(type = "password", name = "password", required)
    br
    label(for="phone") Phone No:
    input(type = "text", name = "phone", required)
    br
    input(type="checkbox" name = "check", checked)
    label(for="check") Subscribe to our newsletter
    br
    <input type="submit" value="Submit"/>
  </form>
</body>