head
  title= title
<body>
  <h3>
    Hello #{firstname} #{lastname}, Thank you for signing up. Your account is now created.
  </h3>
  if newsletter
    h3 You would be receiving our periodic newsletters to your email: #{email}
</body>